.sideNavItem {
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
}

.sideNavItem a {
  height: 25px;
  color: #000;
}

.sideNavLink {
  font-weight: 500;
  padding-left: 15px;
  color: #000;
}