.header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.sideNavItem {
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
}

.sideNavItem a {
  height: 25px;
  color: #000;
}

.sideNavLink {
  font-weight: 500;
  padding-left: 15px;
  color: #000;
}

.accordion {
  margin-bottom: 10px;
}

.anchor {
  color: #000;
}